<div class="form-container">
	<div class="form-header">
		<h3>Stripe on Rails</h3>
		This is a demo only and cards are not charged
	</div>
	<div class="form-body">
		<%= render 'form' %>
	</div>
</div>